#nodes {
}

.node {
  opacity: 0.2;
  border: 3px solid transparent;
}
.node:hover {
  opacity: 0.5;
  cursor: pointer;
}
.node.selected {
  opacity: 1;
  cursor: default;
  border: 3px solid #00ffff;
  border-style: dashed;
}

#dropzone {
  background-color: gray;
  height: 600px;
  width: 600px;
}

body {
  /* background-image: url(images/maw.png); */
  background-repeat: repeat;
}

#dropzone.over {
  border: 2px dashed #000;
}

.deselected {
  opacity: .6;
}

#amplifier {
  opacity: .2;
}

#amplifier.selected {
  opacity: 1;
}
